<div class="call-to-action-purple white-font row">
	<i class="fa fa-envelope-o"></i>
	<h1>Organic</h1>
	<h4>Full of flavor delicious and other good stuff. You'll add all the content you want right here</h4>
	<button> Call to action! </button>
</div>
<div class="banana-facts purple-font row">
	<div class="small-5 columns">
		<h1>Banana Facts</h1>
		<i class="fa fa-envelope-o"></i>
		<h4>Banana Fact Number One</h4>
		<p> They are yellow when you see them in stores. </p>
	</div>
	<div class="small-7 columns">
		<img src="{{ 'zombie.png' | theme_image_url }}" class="side-pic" />
	</div>
</div>