<div id="scroller-anchor"></div>
<footer class="scroll row full-width">
  <div class="large-3 columns">
    <div class="row">
      <div class="large-6 columns center">
        <a href="#"><strong>Overview</strong></a>
      </div>
      <div class="large-6 columns center">
        <a href="#"><strong>Recipies</strong></a>
      </div>
    </div>
  </div>

  <div class="large-3 columns">
    <div class="row">
      <div class="large-6 columns center">
        <a href="#"><strong>Where to buy</strong></a>
      </div>
      <div class="large-6 columns center">
        <a href="#"><strong>ONE Difference</strong></a>
      </div>
    </div>
  </div>

  <div class="large-3 columns">
    <div class="row">
      <div class="large-6 columns center">
        <a href="#"><strong>Our company</strong></a>
      </div>
      <div class="large-6 columns center">
        <a href="#"><strong>FAQ</strong></a>
      </div>
    </div>
  </div>

  <div class="large-3 columns">
    <div class="row">
      <div class="large-6 columns center">
        <a href="#"><strong>Promotion</strong></a>
      </div>
      <div class="large-6 columns center">
        <a href="#"><strong>Stuff</strong></a>
      </div>
    </div>
  </div>
</footer>

