<div id="scroller-anchor"></div>
<footer class="scroll">
  <div class="large-3 columns">
    <div class="row">
      <div class="large-6 columns center">
        <h6><strong>Overview</strong></h6>
      </div>
      <div class="large-6 columns center">
        <h6><strong>Recipies</strong></h6>
      </div>
    </div>
  </div>

  <div class="large-3 columns">
    <div class="row">
      <div class="large-6 columns center">
        <h6><strong>Where to buy</strong></h6>
      </div>
      <div class="large-6 columns center">
        <h6><strong>ONE Difference</strong></h6>
      </div>
    </div>
  </div>

  <div class="large-3 columns">
    <div class="row">
      <div class="large-6 columns center">
        <h6><strong>Our company</strong></h6>
      </div>
      <div class="large-6 columns center">
        <h6><strong>FAQ</strong></h6>
      </div>
    </div>
  </div>

  <div class="large-3 columns">
    <div class="row">
      <div class="large-6 columns center">
        <h6><strong>Promotion</strong></h6>
      </div>
      <div class="large-6 columns center">
        <h6><strong>Stuff</strong></h6>
      </div>
    </div>
  </div>
</footer>

