<div class="footer">
	<div class="footer-content">
    	<p><a>Privacy</a></p>
	    <p><a>Terms & Conditions</a></p>
	   	<p><a>Site Map</a></p>
	   	<p><a>Contact Us</a></p>
	</div>
	{% if page.title == "One Bananas" %}
	<div class="social-section-footer">
		<a href="#"><span class="icon-facebook" id="fbicon"></span></a>
		<a href="#"><span class="icon-gplus" id="googicon"></span></a>
		<a href="#"><span class="icon-twitter" id="twiticon"></span></a>
    	<a href="#"><span class="icon-pinterest-circled" id="pinicon"></span></a>
	</div>
	{% endif %}
</div>