<div class="foot footer-container">
	<div class="footer">
		<div class="footer-content">
	    	<p><a>Privacy</a></p>
	    	<p><a>Terms & Conditions</a></p>
	    	<p><a>Site Map</a></p>
	    	<p><a>Contact Us</a></p>
		</div>
		</div>
	</div>
</div>