<div class="row footer-container">
	<div class="row footer">
		<div class="footer-content">
	    	<p><a>Privacy</a></p>
	    	<p><a>Terms & Conditions</a></p>
	    	<p><a>Site Map</a></p>
	    	<p><a>Contact Us</a></p>
		</div>
		<!-- <div class="social-section-footer">
			<a href="#"><span class="icon-facebook" id="fbicon"></span></a>
		  	<a href="#"><span class="icon-gplus" id="googicon"></span></a>
		  	<a href="#"><span class="icon-twitter" id="twiticon"></span></a>
		  	<a href="#"><span class="icon-pinterest-circled" id="pinicon"></span></a>
		  	<div class="search">
		    	<input class="pill-search" placeholder="Search" />
		    </div> -->
		</div>
	</div>
</div>