<div class="row">
  <div class="row header">
    <div class="large-4 columns">
      <h4><a id="newsletter">NEWSLETTER SIGN UP</a></h4>
    </div>
    <div class="large-4 columns center">
    	<h4 class="header-slogan">ONE. The better banana company.</h4>
    </div>
    <div class="large-4 columns">
    	<div class="social-section">
    		<a href="#"><span class="icon-facebook" id="fbicon"></span></a>
    		<a href="#"><span class="icon-gplus" id="googicon"></span></a>
    		<a href="#"><span class="icon-twitter" id="twiticon"></span></a>
    		<a href="#"><span class="icon-pinterest-circled" id="pinicon"></span></a>
    		<div class="search">
      		<input class="pill-search" placeholder="Search" />
      	</div>
      </div>
    </div>
</div>
<div class="row nav">
    <div class="small-1 columns center item">
      <a href="/">
        <strong>OUR BANANAS</strong>
      </a>
    </div>
    <div class="small-1 columns center item">
      <a href="#recipes">
        <strong>RECIPES</strong>
      </a>
    </div>
    
    <div class="small-1 columns center item">
      <a href="#oneDifference">
        <strong>ONE DIFFERENCE</strong>
      </a>
    </div> 
    <div class="small-1 columns center item">
      <a href="#ourHistory">
        <strong>OUR HISTORY</strong>
      </a>
    </div>

    <div class="small-1 columns center item">
      <a href="#media">
        <strong>MEDIA</strong>
      </a>
    </div>
    <div class="small-1 columns center item">
      <a href="#faqs">
        <strong>FAQS</strong>
      </a>
    </div>

    <div class="small-1 columns center item">
        <a href="#contactUs">
          <strong>CONTACT US</strong>
          </a>
    </div>
  </div>
</div>