<div class="row header">
  <div class="large-4 columns">
    <h4><a id="newsletter">NEWSLETTER SIGN UP</a></h4>
  </div>
  <div class="large-4 columns center">
    <img src="{{ 'logo.png' | theme_image_url }}" id="header-logo" />
  </div>
  <div class="large-4 columns">
    <div class="social-section">
      <a href="#"><span class="icon-facebook" id="fbicon"></span></a>
    	<a href="#"><span class="icon-gplus" id="googicon"></span></a>
  		<a href="#"><span class="icon-twitter" id="twiticon"></span></a>
  		<a href="#"><span class="icon-pinterest-circled" id="pinicon"></span></a>
    	<!-- <div class="search"> -->
      	<input class="pill-search" placeholder="Search" />
      <!-- </div> -->
    </div>
  </div>
</div>
