<div class="row">
  <ul data-orbit class="car">
    <li>
      <img src="{{ 'Earth.jpg' | theme_image_url }}" />
      <div class="orbit-caption">...</div>
    </li>
    <li>
      <img src="{{ 'fav.png' | theme_image_url }}" />
      <div class="orbit-caption">...</div>
    </li>
    <li>
      <img src="{{ 'menu.jpg' | theme_image_url }}" />
      <div class="orbit-caption">...</div>
    </li>
  </ul>
</div>