<div class="row">
    <ul data-orbit class="car">
      <li>
        <img src="images/Earth.jpg" />
        <div class="orbit-caption">...</div>
      </li>
      <li>
        <img src="images/fav.png" />
        <div class="orbit-caption">...</div>
      </li>
      <li>
        <img src="images/menu.jpg" />
        <div class="orbit-caption">...</div>
      </li>
    </ul>
  </div>