<div class="row">
  <ul data-orbit class="car">
    <li>
      <img src="{{ '01_summer_fruit_salad_iStock_000040861650Large.jpg' | theme_image_url }}" />
      <div class="orbit-caption">...</div>
    </li>
    <li>
      <img src="{{ '13_belgian_waffle_iStock_000032856830Large.jpg' | theme_image_url }}" />
      <div class="orbit-caption">...</div>
    </li>
    <li>
      <img src="{{ '29_walnutcake_iStock_000040601224Large.jpg' | theme_image_url }}" />
      <div class="orbit-caption">...</div>
    </li>
  </ul>
</div>