<div class="row main-nav" data-tab>
    <div class="small-1 columns center nav-item">
      <a href="#ourBananas">
        <i class="fa fa-envelope-o"></i>
        <strong>OUR BANANAS</strong>
      </a>
    </div>
    <div class="small-1 columns center nav-item">
      <a href="/recipes">
        <i class="fa fa-envelope-o"></i>
        <strong>RECIPES</strong>
      </a>
    </div>
    
    <div class="small-1 columns center nav-item">
      <a href="#oneDifference">
        <i class="fa fa-envelope-o"></i>
        <strong>ONE DIFFERENCE</strong>
      </a>
    </div> 
    <div class="small-1 columns center nav-item">
      <a href="#ourHistory">
        <i class="fa fa-envelope-o"></i>
        <strong>OUR HISTORY</strong>
      </a>
    </div>

    <div class="small-1 columns center nav-item">
      <a href="#media">
        <i class="fa fa-envelope-o"></i>
        <strong>MEDIA</strong>
      </a>
    </div>
    <div class="small-1 columns center nav-item">
      <a href="#faqs">
        <i class="fa fa-envelope-o"></i>
        <strong>FAQS</strong>
      </a>
    </div>

    <div class="small-1 columns center nav-item">
        <a href="#contactUs">
          <i class="fa fa-envelope-o"></i>
          <strong>CONTACT US</strong>
          </a>
    </div>
  </div>