
    <li class="small-2 columns center nav-item" id="scroller-anchor">
      <a href="{{page.slug}}">
        <i class="fa fa-envelope-o"></i>
        <strong>{{page.title}}</strong>
      </a>
    </li>