<li class="small-2 columns center nav-item" id="scroller-anchor">
		{% assign icon = page.slug %}
    <img src='{{ ".png" | theme_image_url }}' alt="Icon" class="nav-icons">
    <br>
    <strong>{{page.title}}</strong>
</li>