<div class="row sub-nav">
	{% for sub_menu in contents.sub_menus %}  
	  {% if page.title == sub_menu.page_title %}
	  	<a href="{{ sub_menu.path }}">
	    	<div class="sub-name"><img src='{{ sub_menu.icon["url"] }}' />{{ sub_menu.name }}</div>
		</a>
	  {% endif %}
	{% endfor %}
</div>