body {
}

.copy {
	height: 500px;
	width: 100%;
}


.full-width {
   width: 100%;
   margin-left: auto;
   margin-right: auto;
   max-width: initial;
}

.orbit-container .orbit-prev span,
.orbit-container .orbit-next span {
    color: #fff;
    border: none;
    font-size: 70px;
    text-indent: 0;
    margin-top: -32px;
}

.orbit-container .orbit-prev {
    background-color: transparent;
}
.orbit-container .orbit-prev span:before {
    font-family: FontAwesome;
    content: "\f053";
}
.orbit-container .orbit-next {
    background-color: transparent;
}
.orbit-container .orbit-next span:before {
    font-family: FontAwesome;
    content: "\f054";
}

.center {
	text-align: center;
}

.spacing {
  line-height: 45px;
  font-size: 1.2em;
}

.car {
	height: 600px !important;
}

.scroll {
	z-index: 99;
	background-color: white;
	width:100%;
}

.left {
  display: inline-block;
  text-decoration: none;
  margin-right: 45px;
}

.organic-photo {
  background-image: url('http://www.placehold.it/350x500');
}
