body {
}

.copy {
	height: 500px;
}

.center {
	text-align: center;
}

.car {
	height: 600px !important;
	/*position: fixed !important;*/
}

.scroll {
	z-index: 99;
	background-color: white;
	width:100%;
}
