---
title: Banana
slug: banana
listed: true
published: false
cache_strategy: none
response_type: text/html
position: 0
seo_title: banana
---
{% extends 'index' %}

{% block 'main' %}


<div class="row copy full-width">
	<span class="large-6 columns organic-photo">
  <img src="http://placehold.it/650x500" alt="">
	</span>
	<span class="large-6 columns">
		Text
	</span>
</div>
<ul data-orbit class="car">
  <li>
    <img src="http://placehold.it/1400x600" />
    <div class="orbit-caption">...</div>
  </li>
  <li>
    <img src="http://placehold.it/1400x600" />
    <div class="orbit-caption">...</div>
  </li>
  <li>
    <img src="http://placehold.it/1400x600" />
    <div class="orbit-caption">...</div>
  </li>
</ul>

{% endblock %}