---
title: Banana
slug: banana
listed: true
published: false
cache_strategy: none
response_type: text/html
position: 0
seo_title: banana
---
{% extends 'index' %}

{% block 'main' %}


<div class="row copy full-width">
	<span class="large-6 columns organic-photo">
  <img src="http://placehold.it/650x500" alt="">
	</span>
	<span class="large-6 columns">
		<h3 class='center'>ORGANIC</h3>
    <p class="spacing">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
	</span>
</div>
<ul data-orbit class="car">
  <li>
    <img src="http://placehold.it/1400x600" />
    <div class="orbit-caption">...</div>
  </li>
  <li>
    <img src="http://placehold.it/1400x600" />
    <div class="orbit-caption">...</div>
  </li>
  <li>
    <img src="http://placehold.it/1400x600" />
    <div class="orbit-caption">...</div>
  </li>
</ul>

{% endblock %}