---
title: Banana
slug: banana
listed: true
published: false
cache_strategy: none
response_type: text/html
position: 0
seo_title: banana
---
{% extends 'index' %}

{% block 'main' %}


<div class="row copy">
	<span class="large-6 columns">
		Photo
	</span>
	<span class="large-6 columns">
		Text
	</span>
</div>

<ul data-orbit class="car">
  <li>
    <img src="images/Earth.jpg" />
    <div class="orbit-caption">...</div>
  </li>
  <li>
    <img src="images/fav.png" />
    <div class="orbit-caption">...</div>
  </li>
  <li>
    <img src="images/menu.jpg" />
    <div class="orbit-caption">...</div>
  </li>
</ul>

<div style="height: 500px"></div>
{% endblock %}