---
title: Media

# true if the page is included in the menu
listed: true

# true if the page is published
published: true

# position among sibling pages
position: 5

# sets a redirection to the given url (301)
# redirect_url: "<url to a page or to a remote url>"

# content type that this page is templatizing
# content_type: "<slug of one of the content types>"

# editable_elements:
#   'some_block/some_slug': "<text>"
#   'some_block/some_slug': "<relative path to the file under the public/samples folder>"
---
{% extends 'generic' %}

{% block 'generic_body_content' %}

<div class="row">
  <h1 class="large-8 columns large-centered center">Can't find the answer to your question?</h1>
</div>
<div class="row">
  <h3 class="large-8 columns large-centered center">Feel free to contact us. We love hearing from you!</h3>
  <hr>
</div>

{% for faq in contents.faqs%}
<div class="row">
  <h3 class="large-4 columns large-offset-1">
    {{ faq.question}}
  </h3>
  <p class="large-6 columns">{{ faq.answer }}</p>
  <hr>
</div>
{%endfor%}

{% endblock %}