---
title: One Bananas
listed: true
published: true
cache_strategy: none
response_type: text/html
position: 1
---
{%extends index%}

{% block 'our_bananas' %}
  <div class=" purple-font row filler">
    <div class="small-5 columns small-offset-1">
      <h1 class="center">Quality</h1>
      <p>Typewriter Neutra sustainable wayfarers, Vice Schlitz bitters Austin banh mi Shoreditch Odd Future letterpress VHS. Tote bag mlkshk pork belly, meh four loko American Apparel quinoa mixtape. Freegan viral heirloom cred. Twee McSweeney's sartorial disrupt, iPhone ennui leggings Austin 90's lo-fi viral Cosby sweater fingerstache raw denim DIY. </p>
    </div>
    <div class="small-5 columns">
      <h4 class="">Why are our bananas the best?</h4>
      <p>Glad You Asked!</p>
      <p>Typewriter Neutra sustainable wayfarers, Vice Schlitz bitters Austin banh mi Shoreditch Odd Future letterpress VHS. Tote bag mlkshk pork belly, meh four loko American Apparel quinoa mixtape. Freegan viral heirloom cred. Twee McSweeney's sartorial disrupt, iPhone ennui leggings Austin 90's lo-fi viral Cosby sweater fingerstache raw denim DIY. </p>
    </div>
  </div>
  <div class="call-to-action-purple white-font row">
    <i class="fa fa-envelope-o"></i>
    <h1>Organic</h1>
    <h4>Full of flavor delicious and other good stuff. You'll add all the content you want right here</h4>
    <button> Call to action! </button>
  </div>
  <div class="banana-facts purple-font row">
    <div class="small-5 columns">
      <h1>Banana Facts</h1>
      <h4>Banana Fact Number One</h4>
      <p> They are yellow when you see them in stores. </p>
    </div>
    <div class="small-7 columns">

    </div>
  </div>
  <div class="banana-facts purple-font row">
    <div class="small-5 columns">
      <h1>Banana Facts</h1>
      <i class="fa fa-envelope-o"></i>
      <h4>Banana Fact Number One</h4>
      <p> They are yellow when you see them in stores. </p>
    </div>
    <div class="small-7 columns">

    </div>
  </div>
  <div class="banana-facts purple-font row">
    <div class="small-5 columns">
      <h1>Banana Facts</h1>
      <i class="fa fa-envelope-o"></i>
      <h4>Banana Fact Number One</h4>
      <p> They are yellow when you see them in stores. </p>
    </div>
    <div class="small-7 columns">

    </div>
  </div>
{% endblock %}