---
title: Recipes

# true if the page is included in the menu
listed: true

# true if the page is published
published: true

# position among sibling pages
# position: 1

# sets a redirection to the given url (301)
# redirect_url: "<url to a page or to a remote url>"

# content type that this page is templatizing
# content_type: "recipes"

# editable_elements:
#   'some_block/some_slug': "<text>"
#   'some_block/some_slug': "<relative path to the file under the public/samples folder>"
---
{% extends 'index' %}

{% block 'main' %}


<div class="row">
<h2 class="large-12 columns center">RECIPES</h2>
</div>
<div class="row">
<ul class="center">
  <li class="left">Snacks & Bites</li>
  <li class="left">Breakfast & Brunch</li>
  <li class="left">Salads</li>
  <li class="left">Desserts</li>
  <li class="left">Breads</li>
  <li class="left">Beverages & Smoothies</li>
  <li class="left">Kids Friendly</li>
</ul>
</div>

{% endblock %}