---
title: Terms

# true if the page is included in the menu
listed: false

# true if the page is published
published: true

# position among sibling pages
# position: 1

# sets a redirection to the given url (301)
# redirect_url: "<url to a page or to a remote url>"

# content type that this page is templatizing
# content_type: "<slug of one of the content types>"

# editable_elements:
#   'some_block/some_slug': "<text>"
#   'some_block/some_slug': "<relative path to the file under the public/samples folder>"
---
{% extends 'index' %}

{% block 'main' %}


<div class="row copy">
	<span class="large-6 columns">
		Photo
	</span>
	<span class="large-6 columns">
		Text
	</span>
</div>
<ul data-orbit class="car">
  <li>
    <img src="images/Earth.jpg" />
    <div class="orbit-caption">...</div>
  </li>
  <li>
    <img src="images/fav.png" />
    <div class="orbit-caption">...</div>
  </li>
  <li>
    <img src="images/menu.jpg" />
    <div class="orbit-caption">...</div>
  </li>
</ul>

<div style="height: 500px"></div>
{% endblock %}