---
title: Recipes
listed: true
published: true
position: 2

# editable_elements:
#   'recipes/breads': "yesssss"
#   'some_block/some_slug': "<relative path to the file under the public/samples folder>"
---
{% extends 'generic' %}

{% block 'generic_body_content' %}

	<ul class="recipe-row small-block-grid-2 large-block-grid-4">

	{% with_scope category: "desserts" %}
		{% for recipe in contents.recipes %}
			<li class="recipe">
				<a href="{{recipe.description}}" target="_blank">
					<div style="background-image: url({{ recipe.image["url"] | resize: '500x400' }}); background-size: cover; background-repeat: no-repeat; background-position: 50% 50%;" class="recipe-image"></div>
				</a>
				<div class="recipe-content">
					<h1>{{ recipe.title }}</h1>
				<hr class="separate">
					<div style="background-color: white;">
						<div class="recipe-social-section">
					      	<a href="#"><span class="icon-twitter" id="twiticon"></span></a>
					      	<a href="#"><span class="icon-facebook" id="fbicon"></span></a>
					      	<a href="#"><span class="icon-pinterest-circled" id="pinicon"></span></a>
						</div>
					</div>
				</div>
			</li>
		{% endfor %}
	{% endwith_scope %}
	</ul>
{%endblock%}